/* Definição de cores */
:root {
    --my-color-1: #f5f5f5;
    --my-color-2: #007BFF; /* Alterei a cor principal para azul */
    --my-color-3: rgba(165, 188, 243, 0.8);
    --my-color-4: #191919;
    --my-color-5: #000;
    --my-color-6: rgba(0, 66, 249, 0.502);
    --font-family: 'Josefin Sans', sans-serif;
}

/* Define as configurações básicas para todos os elementos */
* {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}

/* Configurações para o corpo da página */
body {
    background-color: var(--my-color-4);
}

/* Estilos da barra de navegação */
.navbar {
    background-color: var(--my-color-5);
}

.navbar .navbar-brand {
    color: var(--my-color-1);
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 1px;
}

.navbar .navbar-toggler-icon {
    color: var(--my-color-1);
    font-size: 20px;
}

.navbar .navbar-nav {
    display: flex;
    justify-content: flex-end;
}

.navbar .navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar .navbar-nav .nav-link {
    color: var(--my-color-1);
    font-weight: bold;
}

/* Estilos da seção principal */
.background {
    height: 100vh;
    width: 100%;
}

.Main {
    position: absolute;
    top: 80%;
    left: 8%;
    transform: translateY(-50%);
    text-align: center;
    text-shadow: var(--my-color-5) 0.1em 0.1em 0.2em;
}

.Main span {
    color: var(--my-color-2);
}

.Main h1 {
    color: var(--my-color-1);
    margin: 20px 0px;
    font-size: 8vw;
}

.Main h4 {
    color: var(--my-color-3);
    letter-spacing: 2px;
    font-size: 20px;
}

.Main h3 {
    color: var(--my-color-1);
    font-size: 18px;
    margin-bottom: 20px;
}

/* Estilos da seção "Sobre" */
.Text-sobre {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.Text-sobre h2 {
    color: var(--my-color-2);
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.Text-sobre h5 {
    color: var(--my-color-2);
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.Text-sobre p {
    color: var(--my-color-5);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 45px;
    text-align: justify;
}

/* Estilos dos botões */
.btn {
    background-color: var(--my-color-2);
    color: var(--my-color-1);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.4s;
}

.btn:hover {
    transform: scale(1.2);
}

/* Estilos da seção "Projetos" */
.Container-serviços {
    background-color: var(--my-color-4);
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h2 {
    color: var(--my-color-1);
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.Caixa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Card {
    background: var(--my-color-4);
    height: 450px;
    width: 335px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: var(--my-color-2);
}

h5 {
    color: var(--my-color-1);
    font-size: 23px;
    margin-bottom: 15px;
}

.Paragrafo-button {
    color: var(--my-color-3);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.Paragrafo-button button {
    margin-top: 25px;
}

/* Estilos do rodapé */
footer {
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-color: var(--my-color-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h6 {
    font-size: 35px;
    color: var(--my-color-1);
    margin-bottom: 10px;
    text-align: center;
}

footer p {
    color: var(--my-color-1);
    font-size: 14px;
    width: 80%;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 23px;
}

/* Estilos da seção "Contato" */
.me-contate {
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color: var(--my-color-4);
}

.me-contate p {
    color: var(--my-color-1);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

/* Estilos do rodapé */
footer {
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-color: var(--my-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h6 {
    font-size: 35px;
    color: var(--my-color-2);
    margin-bottom: 10px;
}

footer p {
    color: var(--my-color-2);
    font-size: 16px;
    width: auto;
    align-items: auto;
}

.Redes-sociais {
    display: flex;
    justify-content: center;
}

.Redes-sociais a {
    background-color: var(--my-color-2);
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    color: var(--my-color-1);
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Redes-sociais a:hover {
    transform: scale(1.2);
    transition: .3s;
}

/* Estilos da última seção do rodapé */
.rodape {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: var(--my-color-5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.end {
    color: var(--my-color-2);
    bottom: 35px;
    font-size: 14px;
    align-items: auto;
}

/* Estilos para tabelas */
th,
td {
    border: 1px solid var(--my-color-5);
    height: 100%;
    justify-content: center;
    align-items: center;
    display: center;
}
