/* Estilos CSS para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

thead {
    background-color: #007BFF;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #a0d8f1;
}

a button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

a button:hover {
    background-color: #0056b3;
}


.youtube-video {
    max-width: 560px;
    margin: 20px 0;
    cursor: pointer;
}

.youtube-video iframe {
    width: 100%;
    height: 315px;
}